

body{
    -webkit-user-select: none;
    }




.topnav {

    height: 32px;
}

.topnav i {
    color: rgba(29, 30, 29, 0.74);
}




.topnav nav
{
    margin: auto ;
    vertical-align: middle;
    position: relative;
    top:4px;
    z-index: 3;

}

.topnav hr{
    position: relative;

    top:-15px;
    z-index: 1;

}


.tip
{
    margin: auto;
    width: 10%;
    background-color: #134f7f;
}




.tagpage
{
    display: block;

    width: 100%;

    position: absolute;

}

.chosebar
{
    position: relative;
    width: 100%;
    border-style: none none solid none;
    border-width:1px;
    border-color: rgba(187, 188, 191, 0.36);

}

.chosebar .title{
    position: absolute;
    top: 4px;
    margin: auto;
    left: 12px;
    height: 18px;
    width:60px;


    font-size: 8pt;
    color: #5b5b5b;
}


.bottom_bar
{
    display: block;

    min-height: 24px;
    position: relative;
    margin: 5px ;
    margin-right: 16px;
    margin-left: 55px;
    /*background:#134f7f;*/
    top:4px;




    overflow: hidden;

}

:checked + .bottom_bar
{

    height: 22px;
}




:checked + label .topcoat-button
{

}

.chooser,
.chooser_all
{
    margin: 0 1px 4px;
    font-size: 8pt;
    line-height: 12pt;
    padding: 0 0.30rem;
}


:checked+label .chooser_all{
    background-color: #b948dc;
    border-color: #8b31b6;
}



.bar_switch
{
    margin-top: 1px;
    right: 2px;
    position: absolute;

}

.bar_switch span
{
    text-shadow: 0 1px 1px #eee;
}

.bar_switch span:hover
{
    color: #0036ff;
    text-shadow: 0 0 4px #5dbdff;
}

.fontbox {

    /*background-color: #1e7dc8;*/
}

.fontlist
{

    position: relative;
    width: 94%;
    margin: auto;

    bottom: 0;
    overflow: auto;

}

/*滚动条：*/
::-webkit-scrollbar {
    width: 5px;
}



::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {

    border-radius: 10px;

    background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb:hover {

    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}









.fontitem
{

    position: relative;
    cursor: default;
    margin:2px 4px 2px 4px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.4);

    white-space: nowrap;
    overflow: hidden;
    text-overline: ellipsis;
    -webkit-text-overline: ellipsis;
    -webkit-user-select: text;



}



.group>.fontitem:hover
, .group label .fontitem:hover,
.fontitem:hover
{
    /*box-shadow: 0px 3px 4px 1px rgba(19, 92, 221, 0.22);*/
    background-color: rgba(255, 255, 255, 0.7);
}

.fontitem:active
{
    background-color: rgba(255, 255, 255, 0.5);
}

.group
{
    margin-top: 6px;
    margin-bottom: 6px;

}




.foot{

    height:50px;
    width: 100%;
    bottom: 0;
    display: -webkit-flex;
    -webkit-flex-wrap:wrap;
    -webkit-justify-content: space-between;


}



.font_name_display
{
    margin: 10px 1px 4px 12px;
    font-size: 9pt;
}


.srang
{
   position: absolute;
   margin-top: 3px;
   margin-left: 1px;
    left: -20px;




    -webkit-user-select: text;




    font-size: 10pt;
    color: rgba(63, 64, 65, 0.71);
}


.preview_text
{
    display: none;


    left: 120px;
    margin: 10px 1px 4px 1px;
    min-width: 30px;
    height: 24px;
    -webkit-flex: 1;

}




.font_number{
    display: none;
    position: absolute;
    padding:2px 4px;

    text-align: center;
    top:20%;



    color: white;
    right: 30px;
    border-radius: 3px;

    font-family:"Helvetica", serif;
    font-size: 12px;
    background-color: rgba(53, 36, 255, 0.55);
}


:checked + .group label .fontitem .font_number
{
    display: inline;
}

:checked + .group>.fontitem
{
    display: none;
}

.group>.fontitem
{
    background-color: rgba(255, 255, 255, 0.27);
    margin-left: 20px;
    margin-right: 8px;
}


:checked + .group label .fontitem
{
    box-shadow:
    0 1px 0px 1px rgba(255, 255, 255, 0.79),
    0 2px 2px 0px rgba(58, 58, 58, 0.71);
}

.sizeranger
{
    -webkit-flex: 1;
    margin: 10px 10px 10px 24px;
    position: relative;


}

.sizeranger .topcoat-range
{
    margin-top: 10px;
    width: 90%;

    height: 5px;
    border: 1px solid rgba(157, 172, 169, 0.65);
}

.opbar
{
    display: none;
    position: absolute;
    top: 10%;
    right: 10px;
    margin: auto;
    color: rgba(50, 50, 51, 0.65);
    font-size: 14px;

    vertical-align: middle;
}

.fontitem:hover .opbar
{
    display: block;
}

.act_buttom
{
    margin: 4px;
}


.act_info
{
    font-size: 15px;
}

.act_copy
{
    font-size: 12px;
}



.info_open:not(.act_info)>.act_info:hover,
.act_buttom:hover
{
    color: #4495d7;
}


.info_box
{
    position: relative;
    margin-top: 12px;

    /*background-color: red;*/
    font-size: 8pt;
    color: #3174af;
    font-family: "Microsoft YaHei","PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","メイリオ","Meiryo",sans-serif;
}

.info_open:not(.act_info){
    display:block;
}

.info_open:not(.act_info)>.act_info{
    color: #1f77af;
}




.info_box ul{

    list-style: none;
}



.chooser_input
{
    width: 0;
    height: 0;
    display: none;
}


.topcoat-button-bar__item>input
{
    width: 0px;
    height: 0px;
}






.hide{
    display: none;
}