.topnav {

    height: 32px;

}

.topnav nav
{
    margin: auto ;
    vertical-align: middle;
    position: relative;
    top:4px;
    z-index: 3;

}

.topnav hr{
    position: relative;

    top:-15px;
    z-index: 1;

}


.tip
{
    margin: auto;
    width: 10%;
    background-color: #134f7f;
}




.tagpage
{
    display: block;

    width: 100%;

    position: absolute;

}

.chosebar
{
    position: relative;
    width: 100%;
    border-style: none none solid none;
    border-width:1px;
    border-color: rgba(187, 188, 191, 0.36);

}

.chosebar .title{
    position: absolute;
    top: 4px;
    margin: auto;
    left: 12px;
    height: 18px;
    width:60px;


    font-size: 8pt;
    color: #5b5b5b;
}


.bottom_bar
{

    position: relative;
    margin: 5px ;
    margin-right: 16px;
    margin-left: 55px;
    /*background:#134f7f;*/
    top:4px;




    overflow: hidden;

}

:checked + .bottom_bar
{

    height: 22px;
}




:checked + label .topcoat-button
{

}

.chooser
{
    margin: 0 1px 4px;
    font-size: 8pt;
    line-height: 12pt;
    padding: 0 0.30rem;



}

.bar_switch
{
    margin-top: 1px;
    right: 2px;
    position: absolute;

}

.bar_switch span
{
    text-shadow: 0 1px 1px #eee;
}

.bar_switch span:hover
{
    color: #0036ff;
    text-shadow: 0 0 4px #5dbdff;
}

.fontbox {

    /*background-color: #1e7dc8;*/



}

.fontlist
{

    position: relative;
    width: 94%;
    margin: auto;

    bottom: 0;
    overflow: auto;

}

/*滚动条：*/
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {

    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb:hover {

    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}









.fontitem
{

    cursor: default;
    margin:2px 4px 2px 4px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.4);

}

.group label .fontitem:hover,
.fontitem:hover
{
    box-shadow: 0px 3px 4px 1px rgba(19, 92, 221, 0.22);
    background-color: rgba(255, 255, 255, 0.7);
}

.fontitem:active
{
    background-color: rgba(255, 255, 255, 0.5);
}

.group
{
    margin-top: 6px;
    margin-bottom: 6px;

}




.foot{

    height:50px;
    width: 100%;
    bottom: 0;

}


.font_number{

    display: none;

    padding:2px 4px;
    color: white;
    position: absolute;

    text-align: center;
    margin-top: 3px;



    right: 30px;


    border-radius: 3px;

    font-family:"Helvetica", serif;
    font-size: 12px;
    background-color: rgba(53, 36, 255, 0.55);

}

:checked + .group label .fontitem .font_number
{
    display: inline;

}

:checked + .group>.fontitem
{
    display: none;

}

.group>.fontitem
{
    background-color: rgba(255, 255, 255, 0.27);
    margin-left: 20px;
    margin-right: 8px;




}


:checked + .group label .fontitem
{
    box-shadow:
    0 1px 0px 1px rgba(255, 255, 255, 0.79),
    0 2px 2px 0px rgba(58, 58, 58, 0.71);
}
