body{
    font-family: "Microsoft YaHei","PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","メイリオ","Meiryo",sans-serif;
}

.topcoat-tab-bar__button {
    font-size: 10pt;
    height: 1.45rem;
}

















::selection {
    background:#98C45E;
    color:#fff;
}

body{
    font-family: "Microsoft YaHei","Hiragino Sans GB","ヒラギノ角ゴ ProN W3 Regular","WenQuanYi Micro Hei","Hiragino Kaku Gothic ProN","メイリオ",Helvetica,sans-serif;

    font-weight: 400;

}

.entry-content p, .entry-content ul li, .entry-content p, .entry-content ol li {
    color: #555;
}

h1,h2,h3,h4,h5,h6
{
    font-family: sans-serif;
}

article.format-standard p a, article.format-standard p a:hover span::before, article.format-standard p a:focus span::before, .format-standard a.more-link, .format-standard a.more-link:hover{
    background-color: #FFF;
    color: #68a83e;
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
}

a:hover, a:focus, a:active{
    text-decoration:underline;
}

.btn.bluth:hover
{
    text-decoration: none;
}

.widget_tag_cloud .tagcloud a {
    font-weight: normal;
}

.bluth.label.a:hover
{
    text-decoration: none;
}

.entry-content {
    padding: 30px 35px 0px;
}

.badge {
    padding-left: 14px;
    padding-right: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}

.badge {
    display: inline-block;
    padding: 4px 14px;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}

.label {
    padding: 4px 8px;
    font-size: 12px;
}

.wp-caption {
    background: none;
    border: none;
}

.nav-tabs.bluth > .active > a, .nav-tabs.bluth > .active > a:hover, .nav-tabs.bluth > .active > a:focus {
    background-color: rgb(106, 185, 87);
    color: #FFF;
}

/*-------------------------20151125-----------------------------*/


.box, .entry-container {
    /* box-shadow: 0 0 0 1px rgba(0, 2, 0, .1); */
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.entry-image {
    background: #F4F4F4;
    box-shadow: 0 -1px 3px rgba(0,0,0,.1);
}


.columns article:hover .entry-content
{
    max-height: 200px;
}


.columns .entry-content {
    padding: 15px 35px 0px;
    max-height: 0;
    overflow: hidden;
    margin-top: -2px;
    transition: all .4s;
}

.post-title {
    padding: 10px 10px 5px 10px;
}

.entry-title a {
    color: rgba(68, 68, 68, 0.82);
}


.post-meta {
    color: rgba(154, 154, 154, 0.7);
    text-align: left;
    padding: 0px 0;
    margin-bottom: 0;
    line-height: 14px;
    text-rendering: geometricPrecision;
    text-align: center;
    /* margin-left: 180px; */
}

.post-meta ul li a {
    color: inherit;
}


.post-title h1 {
    display: block;
    font-size: 22px;
    margin: 8px;
    text-align: center;
}


h1, h2, h3, h4 {
    font-weight: 300;
}



aside.widget-area {
    width: 300px;
    /* margin-left: 30px; */
}

@media (min-width: 1200px)
{
    #content {
        margin-left: 95px;
    }
}


.widget_recent_entries li a, .widget-area .widget_nav_menu ul li a, .widget_categories li a, .widget_recent_comments li a, .widget_pages li a, .widget_meta li a, .widget_archive li a {
    color: rgba(113, 113, 113, 0.82);
    font-size: 14px;
}




.entry-content h2 {
    border-bottom: 1px solid rgba(180, 180, 180, 0.29);
    color: rgba(58, 58, 58, 0.81);
    padding-bottom: 4px;
    margin-left: -20px;
    font-size: 28px;
    margin-top: 38px;
}


.entry-content h3 {
    font-size: 20px;
    margin-left: -24px;
    line-height: 26px;
    vertical-align: middle;
    padding-left: 8px;
    padding-top: 0;
    padding-bottom: 2px;
    color: rgba(58, 58, 58, 0.97);
    border-left: 6px solid #58C99A;
    /* border-left-width: 6px; */
    /* border-left-style: solid; */
    /* border-left-color: rgb(107, 208, 166); */
    margin-top: 36px;
    margin-bottom: 8px;
}


.entry-content h4 {

    font-size: 18px;
    margin-left: -10px;
    line-height: 26px;
    vertical-align: middle;
    /* padding-left: 8px; */
    padding-top: 0;
    padding-bottom: 2px;
    color: rgba(58, 58, 58, 0.9);
    margin-top: 25px;
    margin-bottom: 0;
}

.entry-content h5 {

    font-size: 14px;
    font-weight: bold;
    margin-top: 14px;
    color: rgba(58, 58, 58, 0.71);
    margin-bottom: 0;
}

.entry-content h6 {

    font-size: 14px;
    font-weight: normal;
    margin-top: 8px;
    color: rgba(58, 58, 58, 0.9);
    margin-bottom: 0;
}

.entry-content h7 {

    font-size: 14px;
    font-weight: normal;
    margin-top: 8px;
    color: rgba(58, 58, 58, 0.9);
    margin-bottom: 0;
}



.entry-content p, .entry-content ul li, .entry-content p, .entry-content ol li {
    color: rgba(47, 47, 47, 0.87);
    font-size: 14px;
    font-weight: normal;
    line-height: 1.7;
}


table {
    margin-bottom: 20px
}

table th,table td {
    padding: 8px;
    line-height: 20px;
    vertical-align: top;

}

table th {
    font-weight: bold
}

table thead th {
    vertical-align: bottom
}

table caption+thead tr:first-child th,table caption+thead tr:first-child td,table colgroup+thead tr:first-child th,table colgroup+thead tr:first-child td,table thead:first-child tr:first-child th,table thead:first-child tr:first-child td {
    border-top: 0
}

table tbody+tbody {
    border-top: 2px solid #ddd
}


table tr{

    border-top: 1px solid #ddd
}


table tr:hover {
    background-color: rgba(121, 213, 176, 0.13);
}


table tr:first-child {
    border-top: 0px solid #ddd;
    border-bottom-style: solid;
    border-bottom-color: #79D5B0;
    font-weight: bold;
    color: #8F8F8F;
}





.entry-content .hlable {
    display: inline-block;
    background-color: #22CEF9;
    padding: 5px 13px 5px 13px;
    line-height: 13px;
    border-radius: 999px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.17);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.17);
}

.entry-content h2.hlable {
    font-size: 14px;
}

.entry-content h3.hlable {
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    line-height: 10px;
    border-left: 0 solid #58C99A;
    margin-left: -1px;
}


h3.hlable.red
,h2.hlable.red {
    background-color: #FF4F47;
}

h3.hlable.green
,h2.hlable.green {
    background-color: #75C454;
}

h2.hlable.purple
,h3.hlable.purple {
    background-color: #BD77FE;
}

h2.hlable.dark
,h3.hlable.dark {
    background-color: #7A7C7D;
}






.footlogo-title{
    font-weight: lighter;
    font-size: 32px
}




img.footlogo {
    margin: 50px;
    float: left;
}
footer.site-footer {
    background: #F8F8F8;
}



