.rito-button-bar {
  z-index: 3;
  display: table;
  text-align: center;
  white-space: nowrap;
}
.rito-button-bar input[type="radio"] {
  position: absolute;
  overflow: hidden;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  height: 0;
  width: 0;
}
.rito-button-bar .rito-button-bar-item {
  font-size: 10pt;
  border-left: 0px solid #9daca9;
  border-radius: 0 0 0 0;
  padding: 2px 10px;
}
.rito-button-bar .rito-button-bar-item:first-of-type {
  border-left: 0 none #fff;
  border-radius: 4px 0 0 4px;
  border-left: 1px solid #9daca9;
}
.rito-button-bar .rito-button-bar-item:last-of-type {
  border-radius: 0 4px 4px 0;
  border-right: 0 none #fff;
  border-right: 1px solid #9daca9;
}
.rito-button-bar .rito-button-bar-item:hover {
  background: #f3f5f4;
}
.rito-button-bar :checked + .rito-button-bar-item {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  background: #dde2e1;
}
.rito-button {
  display: inline-block;
  padding: 0 0.563rem;
  text-align: center;
  font-size: 12px;
  line-height: 1.313rem;
  color: #454545;
  text-shadow: 0 1px #fff;
  vertical-align: initial;
  background-color: #e5e9e8;
  box-shadow: inset 0 1px #fff;
  border: 1px solid #9daca9;
  border-radius: 4px;
}
:checked + .rito-button.chooser {
  color: #F9FCFF;
  background-color: #288edf;
  text-shadow: 0 0 1px #3f4041;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.35);
  border-color: #2C7AB8;
}
